@color-red-text: #d95c5c;
@color-blue-text: #3b83c0;
@color-yellow-text: #b58105;

.comment-list {
  .inner {
    margin: 5px;
    position: relative;
  }
  .toolbar {
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 1;
    height: 22px;
    .close.button {
      margin: 0;
      padding: 0.3rem 0.3rem;
      background: none;
    }
  }
}
